{% extends "layout.html.twig" %} {% block title 'Claire Durand' %} {% block content %}
<div class="grid">
  <div class="grid-sizer"></div>
  <div class="gutter-sizer"></div>
  {% for image in images %}
  <div class="grid-item js-zoomable {{ image.thumb.className|default('') }}" name="{{ image.name }}">
    <img src="{{ asset('images/wall/'~ image.name ~'.jpg') }}" />
  </div>
  {% endfor %}
</div>

<div class="full reveal" data-reveal>
  <button class="close-button" data-close aria-label="Close reveal" type="button">
    <span aria-hidden="true">&times;</span>
  </button>
  <div class="content"></div>
</div>
{% endblock %} {% block script_body_end %}
<script type="text/javascript">
  $(document).ready(function() {
    var wallImages = {{ images|json_encode() | raw }};
    new clairedr.Wall({
      images: wallImages,
      zoomDir: "{{ asset('images/zoom/') }}"
    });
  });
</script>
{% endblock %}