<!DOCTYPE html>
<html class="no-js">
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>{% block title '' %}</title>

        <link rel="shortcut icon" type="image/x-icon" href="{{ asset('images/favicon.ico') }}">

        <link href="{{ asset('vendor/foundation/css/foundation.css') }}" rel="stylesheet" type="text/css" />
        <link href="{{ asset('css/main.css') }}" rel="stylesheet" type="text/css" />

        <script type="text/javascript" src="{{ asset('vendor/jquery-3.1.1.min.js') }}"></script>
        <script type="text/javascript" src="{{ asset('vendor/imagesloaded.pkgd.min.js') }}"></script>
        <script type="text/javascript" src="{{ asset('vendor/masonry.pkgd.min.js') }}"></script>
        <script type="text/javascript" src="{{ asset('vendor/foundation/js/vendor/foundation.min.js') }}"></script>

        <script type="text/javascript">
            
        </script>
    </head>
    <body>
        <header>
            <h1>
                <img src="{{ asset('images/logo.png') }}" />
                <small>couturière - modéliste</small>
            </h1>
            <div class="contact">
                <span>0625903791</span> / <a href="mailto:contact@clairedurand.fr">contact@clairedurand.fr</a>
            </div>
        </header>
        {% block content %}{% endblock %}
        <script>
        $(document).foundation();
        </script>
    </body>
</html>